name: movie_finder
description: Movie finder
publish_to: "none"
version: 1.0.0+1

environment:
sdk: ">=3.3.0 <4.0.0"

dependencies:
flutter:
sdk: flutter
cupertino_icons: ^1.0.8
http: ^1.2.2
shared_preferences: ^2.2.3
in_app_purchase: ^3.2.0

dev_dependencies:
flutter_test:
sdk: flutter
flutter_lints: ^5.0.0

flutter:
uses-material-design: true
